<!DOCTYPE html>
<html>
<head>
    <title>BERTSenti1.0 Details</title>
</head>
<body>
    <h1>BERTSenti1.0 Details</h1>
    <pre>{{ model_summary }}</pre>
    <p>Date Uploaded: 01/12/2024</p>
    <p>Author: Ethan Yan Xu</p>
    <p>GitHub: </p>
    <p>Version: 1.0</p>
    <p>Training Data: "nlptown/bert-base-multilingual-uncased-sentiment"</p>
    <p>Version Highlights:</p>
    <p><strong>1.0</strong></p>
    <ul>
        <li>Uploaded: 01/12/2024</li>
        <li>Training Data: "nlptown/bert-base-multilingual-uncased-sentiment"</li>
        <li>Proof of concept</li>
        <li>Transformers</li>
    </ul>
</body>
</html>